services:

  broker:
    extends:
      file: ../docker-compose-full.yml
      service: broker
  control-center:
    extends:
      file: ../docker-compose-full.yml
      service: control-center
  schema-registry:
    extends:
      file: ../docker-compose-full.yml
      service: schema-registry

  #example-producer-app:
  #  image: ghcr.io/hibuz/example-producer-app
  #  container_name: example-producer-app
  #  depends_on:
  #    - broker
  #  environment:
  #    SPRING_PROFILES_ACTIVE: prd
  #example-streams-app:
  #  image: ghcr.io/hibuz/example-streams-app
  #  container_name: example-streams-app
  #  depends_on:
  #    - broker
  #  environment:
  #    SPRING_PROFILES_ACTIVE: prd

volumes:
  kafka-vol: {}