spring:
  profiles:
    active: local
  kafka:
    bootstrap-servers: broker:29092
    properties:
      schema.registry.url: http://schema-registry:8081
  docker:
    compose:
      enabled: false

---
spring:
  config:
    activate:
      on-profile: local
  kafka:
    bootstrap-servers: localhost:9092
    properties:
      schema.registry.url: http://localhost:8081
  docker:
    compose:
      enabled: true
      lifecycle-management: start-only
      file: ../example-streams-app/compose.yml
